.list-container {
    display: flex;
    text-align: left;
    list-style: none;
    padding: 0;
  }
  
  .list-container li {
    font: normal normal 900 16px/19px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-right: 20px;
  }