@page
@model Scenerio3_EMPN0784.Pages.Client.CreateModel
@{
}
<br />
<h2>New Client</h2>

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">ProjectID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="" />

        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="" />

        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Status</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="" />

        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Revenue</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="" />

        </div>
    </div>

</form>