@page
@model Scenerio3_EMPN0784.Pages.Client.IndexModel
@{

}

<br />
<h2>List of clients</h2>
<a class="btn btn-primary btn-sm" href="/Client/Create">New Client</a>
<table class="table">
    <thead>
        <tr>
            <th>ProjectID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Revenue</th>
        </tr>

    </thead>
    <tbody>
          
        @foreach(var item in Model.listclients)
        {
            
            <tr>
             
                <td>@item.ProjectID</td>
                <td>@item.Name</td>
                <td>@item.Status</td>
                <td>@item.Revenue</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Client/Edit?id=">Edit</a>
                    <a class="btn btn-danger btn-sm"href="/Client/Delete?id=">Delete</a>
                </td>

            </tr>
        }
    </tbody>

</table>